include utils.pug

include navbar.pug

append head

  link(rel="stylesheet" href="/stylesheets/reset.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")

block content
  div.center-column
    form.question-form(action=`/answers/${answer.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      h2.delete= answer.value
      div.buttons
        button(type='submit') Delete answer
        a(href=`/` role='button') Cancel