include utils.pug

include navbar.pug

append head

  link(rel="stylesheet" href="/stylesheets/reset.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")
  link(rel="stylesheet" href="/stylesheets/error.css")

block content
  +validationErrorSummary(errors)
  div.center-column
    form.question-form(action=`/questions/${question.id}/delete` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      h2.delete= question.value
      div.buttons
        button(type='submit') Delete question
        a(href=`/` role='button') Cancel
