extends navbar.pug

block content
    h1= answer.value
    div
        p Are you sure you want to delete this answer?
    div
        form(action=`/answers/${answer.id}/delete` method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            button(type='submit') Delete answer
        a(href="/" role='button') Cancel