extends navbar.pug

block content
  h3= question.value
    p Are you sure you want to delete this question?
  div
    form(action=`/question/delete/${question.id}` method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      button(type='submit') Delete question
      a(href=`/question/${question.id}` role='button') Cancel
