include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")

block content
    include navbar
    +validationErrorSummary(errors)
    form(action=`/answer/edit/${answer.id}` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Edit answer', 'answer', answer.value, 'text', 'Answer...')
        div#buttons
            button(type='submit') Update answer
            a(href=`/answer/${answer.id}`) Cancel