include utils.pug

append head
    script(src="/javascripts/demo.js" type="module" async defer)
    link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")

block content
    include navbar
    +validationErrorSummary(errors)
    form(action=`/answers/${answer.id}/edit` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Edit answer', 'value', answer.value, 'text', 'Answer...')
        div.buttons
            button(type='submit') Update answer
            a(href="/") Cancel