include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")

include navbar

block content  
  +validationErrorSummary(errors)
  form(action=`/question/${question.id}/edit` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Edit question', 'question', question.value, 'text', 'Question...')
    div#buttons
      button(type='submit') Update question
      a(href=`/question/${question.id}`) Cancel
