extends layout

append head
    link(rel="stylesheet" href="/stylesheets/error.css")

block content
  div.errors
    //- h1.error= message
    //- h2.error= error.status
    //- h3.error= #{error.stack}
    //- Does this need to be 'pre'
