
include utils

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/reset.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascrips/index.js" type="module" defer)
  script(src="/javascripts/public/listener.js" type="module") // might throw an error and need public/listener
block content
  include navbar
  div(class="center-column")
    div(class="center-column-item" id="ask-question")
      div(id="user-question")
        span(id="user1") UserName1
      div(id="question")
        h1 Ask your question here
    div(class="center-column-item" id="answer-question")
      div(id="user-answer")
        span(id="user2") UserName2
      div(id="answer")
        h2 What are the odds we get an A on this project?
        p If we all buy him a bag of premium, ethically-sourced, single-origin coffee beans, we may have a chance to raise our grade an additional 10%...
    div(class="center-column-item" id="answer-question")
      div(id="user-answer")
        span(id="user2") UserName2
      div(id="answer")
        h2 What are the odds we get an A on this project?
        p If we all buy him a bag of premium, ethically-sourced, single-origin coffee beans, we may have a chance to raise our grade an additional 10%...
    div(class="center-column-item" id="answer-question")
      div(id="user-answer")
        span(id="user2") UserName2
      div(id="answer")
        h2 What are the odds we get an A on this project?
        p If we all buy him a bag of premium, ethically-sourced, single-origin coffee beans, we may have a chance to raise our grade an additional 10%...
