doctype html
html
  head
      block head
        title="Query"
        link(rel='stylesheet' href='/stylesheets/reset.css')
        //- add global style sheets
                  meta(name="title" content="Query")
        meta(name="description" content="Query is a question and answer based app that allows users with questions to access people with answers. ")

        meta(property="og:type" content="website")
        meta(property="og:url" content="https://aa-querylite.herokuapp.com/users/login")
        meta(property="og:title" content="Query")
        meta(property="og:description" content="Query is a question and answer based app that allows users with questions to access people with answers.")
        meta(prefix="og: http://ogp.me/ns#" property="og:image" content="https://i.imgur.com/bzPkoRK.png")

        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:url" content="https://aa-querylite.herokuapp.com/users/login")
        meta(property="twitter:title" content="Query")
        meta(property="twitter:description" content="Query is a question and answer based app that allows users with questions to access people with answers.")
        meta(property="twitter:image" content="https://i.imgur.com/bzPkoRK.png")
  body
  
    block content