
doctype html
html
  head
    <script src="https://kit.fontawesome.com/6e38a041a3.js" crossorigin="anonymous"></script>
    script(src="/auth.js")
    title="Query"
    //link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel='stylesheet' href='/stylesheets/navbar.css')
    link(rel='stylesheet' href='/stylesheets/dropdown.css')
    block head
  body
    nav(class='nav')
      img(src="/images/query-logo.svg" class='navbar-logo')
      a(href='/') Home
        i(class="fas fa-home")
      a(href=`/personal/questions/${locals.user.id}`) Questions
        i(class="far fa-question-circle")
      a(href=`/personal/answers/${locals.user.id}`) Answers
        i(class="fas fa-book")
      form(id='search-bar' action='/api/search')
        input.search-input(type='text' name='term' placeholder='Search for a question!')
      div(class= 'dropdown') Logout
        form(action='/users/logout' method='POST')
          button(type='submit' class='dropButton')
            <i class="fas fa-user-ninja"></i>
            div(style='cursor:help') Logout
    block content
          //- select(id="myDropdown" class="dropdown-content")
          //-   a(href='/users/login') Logout
          //-   a(href='/users/login/edit') Edit Personal info //route does not exist yet - hope to have it so the user can change password or email
          //-   a(href='/users/picture') Add user picture
