include navbar.pug

include utils.pug

append head
    script(src="/javascripts/demo.js" type="module" async defer)
    script(src='/listener.js' type='module')
    link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel="stylesheet" href="/stylesheets/index.css")
    link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")
    link(rel="stylesheet" href="/stylesheets/error.css")

block content
    +validationErrorSummary(errors)
    div.center-column
        form.question-form(action='/answers/new' method='post')
            input(type='hidden' name='_csrf' value=csrfToken)
            input(type='hidden' name='questionId' value=question.id)
            +field('Answer a question', 'value', '', 'text', 'Answer...')
            div.buttons
                button(type='submit' id="new-answer" ) Submit answer
                a(href='/' ) Cancel