extends navbar.pug

include utils.pug

append head
    script(src="/javascripts/demo.js" type="module" async defer)
    link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")

block content
    +validationErrorSummary(errors)
    form(action='/answers/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Answer a question', 'answer', answer.value, 'text', 'Answer...')
        div.buttons
            button(type='submit' id="new-answer" ) Submit answer
            a(href='/' ) Cancel