
extends navbar.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/reset.css")
    link(rel="stylesheet" href="/stylesheets/question-answer-forms.css")

block content
    +validationErrorSummary(errors)
    form(action='/questions/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Ask a question', 'question', '', 'text', 'Question...')
        div.buttons
            button(type='submit' id="new-question" ) Submit question
            a(href='/' ) Cancel
    div(id="search-container")
