extends layout.pug

include utils.pug

append head
    link(rel="stylesheet" href="/stylesheets/user-register.css")

block content
    +validationErrorSummary(errors)
    form(action='/users/register' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        +field('Create Account', 'firstName', user.firstName, 'text', 'First Name')
        +field(null, 'lastName', user.lastName, 'text', 'Last Name')
        +field(null, 'email', user.emailAddress, 'email', 'Email')
        +field(null, 'password', user.password, 'password', 'Password')
        +field(null, 'confirmPassword', '', 'password', 'Confirm Password')
        div()
        button(type='submit' id="register" ) Register
        a(href='/' ) Cancel
    div(id='existing-user')
        p: a(href='/users/login') Already have an account?