
div.dropdown {
    height: 50px;
}

/* Style The Dropdown Button */
.dropButton {
    background-color: rgb(232, 255, 254);
    height: 50px;
    display: flex;
    align-items: center;
    padding-top: 10px;
    border: none;
    border-radius: 0;
    border-left: 1px solid rgb(186, 223, 221);
}

.dropButton:hover {
    background-color: rgba(55, 87, 127, 0.6);
    border: none;
    border-radius: 0;
}

.fa-user-ninja {
    background-color: rgb(55, 87, 127);
    border-radius: 2rem;
    width: 40px;
    height: 40px;
}
