body {
  background-image: url("/images/efe-kurnaz-RnCPiXixooY-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

div#logo {
  width: 200px;
  margin: 10px;
}

/* ------ Form ------ */

form {
  background-color: rgb(24, 26, 27);
  width: 600px;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(20, 20, 20, 0.5);
  display: flex; /* labels, inputs, btn */
  align-items: center; /* labels, inputs, btn */
  flex-flow: column; /* labels, inputs, btn */
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
}

label {
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

input {
  background-color: rgb(44, 44, 44);
  color: white;
  font-size: 15px;
  padding: 6px;
  margin: 0 0 10px 0;
  width: 400px;
  height: 2em;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 3px;
}

div#buttons {
  margin: 10px 0 0 0;
  width: 400px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

button#register,
button#login,
button#demo-login {
  border: 1px solid rgb(90, 187, 187);
  border-radius: 3px;
  background-color: rgb(64, 146, 146);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 10px 0;
}

button#register:hover,
button#login:hover,
button#demo-login:hover {
  border: 1px solid rgb(63, 146, 146);
  background-color: rgb(46, 116, 116);
  cursor: pointer;
}

button#register:active,
button#login:active,
button#demo-login:active {
  transform: translateY(0.5px);
}

a {
  font-size: 13px;
  color: rgb(107, 107, 107);
  margin: 10px 0 0;
  text-decoration: none;
}

/* Account link */
div#existing-user {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  position: absolute;
  top: 652px;
  left: 0;
  right: 0;
  margin: auto;
}

/* Account link */
div#no-account {
  display: flex;
  justify-content: flex-end;
  width: 600px;
  position: absolute;
  top: 502px;
  left: 0;
  right: 0;
  margin: auto;
}

/* ------ Links outside of form, account & photo credit ------ */

/* Account link */
p a {
  display: flex;
  font-size: 13px;
  color: rgb(255, 255, 255);
  margin: 10px 8px 0 0;
  text-shadow: rgba(20, 20, 20, 0.5) 0px 0px 5px;
}

div#photo-credit {
  display: flex;
  position: absolute;
  bottom: 9px;
  right: 10px;
}

div#photo-credit span,
div#photo-credit a {
  font-size: 10px;
  color: white;
  text-shadow: rgba(20, 20, 20, 0.5) 0px 0px 5px;
}
