body {
  background-image: linear-gradient(to bottom right, #fc9969, rgb(238, 37, 138));
  height: 100vh;
}

div#background-gradient-2 {
  height: 100vh;
  transition: background-color 2s cubic-bezier(1, 1, 1, 1);
	transition-delay: 0s;
}

/* div#background-gradient-2 {
  background-image: linear-gradient(to bottom right, #466a8d, #352268);
  position: relative;
  z-index: 1;
} */

/* div#background-gradient-2::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #fc9969, #ee258a);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
} */
/* 
div#background-gradient-2::hover {
  opacity: 1;
} */

/* @keyframes fade {
  from {background-image: linear-gradient(to bottom right, rgba(252, 153, 105, 1),rgba(239, 37, 138, 1));}
  to {background-image: linear-gradient(to bottom right, rgba(252, 153, 105, 0),rgba(239, 37, 138, 0));}
} */

/* div#background-gradient-1 {
  background-image: linear-gradient(to bottom right, rgb(252, 154, 105), rgb(238, 37, 138));
  width: 100vh;
  height: 100vh;
  display: block;
  position: absolute;
  z-index:-1;
}

div#background-gradient-2 {
  background-image: linear-gradient(to bottom right, #466a8d, #352268);
  width: 100vh;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: -2;
}

div#button-gradient-1:hover {
  transition: 1s;
  background-image: linear-gradient(to bottom right, rgba(252, 154, 105, 0), rgba(238, 37, 138, 0);
} */

div.center-column {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  top: 125px;
}

#expandDiv {
  height: fit-content;
  z-index: 2;
  position: relative;
}

div.user-answer {
  background-color: rgba(218, 253, 251, 0.9);
  width: 700px;
  border-radius: 7px;
  box-shadow: 2px 2px 7px rgba(32, 40, 80, 0.5);
  color: rgb(55, 87, 127);
  display: flex;
  flex-flow: column;
  font-size: 12px;
  padding: 30px 50px;
  margin: 10px auto;
}

div#search-container {
  background-color: rgba(218, 253, 251, 0.9);
  width: 700px;
  border-radius: 7px;
  box-shadow: 2px 2px 7px rgba(32, 40, 80, 0.5);
  color: rgb(55, 87, 127);
  display: flex;
  flex-flow: column;
  font-size: 12px;
  padding: 30px 50px;
  margin: 10px auto;
}

textarea::-webkit-input-placeholder {
  color: rgba(55, 87, 127, 0.6);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding: auto 4px;
}

h2 {
  color: rgb(55, 87, 127);
  font-size: 17px;
  font-weight: bold;
  padding: 0 0 4px 0;
}

h2#search {
  margin: 0 0 20px 0;
  border-bottom: 1px solid rgb(186, 223, 221);
}

h2#search-result{
  font-size: 22px;
  margin-top: 10px;
}

p {
  color: rgb(55, 87, 127);
  font-size: 14px;
  margin: 20px 0 0 0;
}

p.question-list {
  font-weight: bold;
  font-size: 17;
}

span.user {
  font-size: 12px;
  font-weight: bold;
  color: rgba(55, 87, 127, 0.6);
  margin: 0 0 20px 0;
}

button.add-answer {
  margin-top: 20px;
}

div#surprise-div {
  /* background-color: blue; */
  width: 150px;
  height: 150px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
  left: 0;
}
