/*nav background color*/
.nav {
    background-color: rgb(240, 241, 241);
    overflow: hidden;
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 40px;
    justify-content: space-around;
    top: 0;
    left: 0;
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    z-index: 2;
}

body {
    padding-top: 40px;
    background-color: white;
}

.nav a {
    float: left;
    color: grey;
    text-align: center;
    padding: 10px;
    font-size: 15px;
    justify-content: space-between;
}

.nav a:hover {
    color: blue;
}

.nav a.active {
    color: red;
}

.navbar-logo {
    width: 25px;
    height: 15px;
    align-self: center;
}

