body {
    /* background-image: linear-gradient(to bottom right, rgb(252, 153, 105), rgb(238, 37, 138)); */
    background-image: linear-gradient(to bottom right, rgb(57, 115, 130), rgb(52, 65, 128));
    height: 100vh;
}


/* ------ Form ------ */

form {
  background-color:rgba(218, 253, 251, 0.9);
  width: 700px;
  border-radius: 7px;
  border: 2px solid rgb(52, 65, 128);
  box-shadow: 2px 2px 7px rgba(32, 40, 80, 0.5);
  display: flex; /* labels, inputs, btn */
  align-items: center; /* labels, inputs, btn */
  flex-flow: column; /* labels, inputs, btn */
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
}

label {
  color: rgb(52, 65, 128);
  font-size: 13px;
  font-weight: bold;
  display: block;
  margin: 10px 0;
}

input {
  background-color: white;
  color: rgb(52, 65, 128);
  font-size: 15px;
  padding: 6px;
  margin: 0 0 10px 0;
  width: 600px;
  height: 2em;
  border: 1px solid rgb(186, 223, 221);
  border-radius: 3px;
}

input::placeholder {
  color: rgba(32, 40, 80, 0.5);
}

div#buttons {
  margin: 10px 0 0 0;
  width: 600px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

button {
  border: 1px solid rgba(87, 126, 173, 0.6);
  border-radius: 3px;
  background-color: rgba(55, 87, 127, 0.6);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  margin: 0 0 10px 0;
}

button:hover {
  border: 1px solid rgba(87, 126, 173, 1);
  background-color: rgba(55, 87, 127, 1);
  cursor: pointer;
}

button:active {
  transform: translateY(0.5px);
}

a {
  font-size: 13px;
  color: rgba(87, 126, 173, 0.8);
  margin: 10px 0 0;
  text-decoration: none;
}
