* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://picsum.photos/1080);
  background-position: center;
}

form {
  background-color: rgb(24, 26, 27);
  margin: auto;
  width: 285px;
  color: white;
  border-radius: 3px;
  box-shadow: rgba(20, 20, 20, 0.5) 0px 0px 5px;
  display: flex; /* labels, inputs, btn */
  align-items: center; /* labels, inputs, btn */
  flex-flow: column; /* labels, inputs, btn */
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px;
}

label {
font-size: 8px;
font-weight: bold;
display: block;
margin: 3px 0;
}

input {
  background-color: rgb(44, 44, 44);
  color: white;
  font-size: 9px;
  padding: 5px;
  margin: 0 0 10px 0;
  width: 200px;
  height: 2em;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 2px;
}

button#register {
  border: 1px solid rgb(88, 161, 88);
  border-radius: 2px;
  background-color: rgb(59, 121, 59);
  color: white;
  font-size: 9px;
  font-weight: bold;
  padding: 5px;
  display: flex;
  justify-content: flex-end;
}

button#register:hover {
  border: 1px solid rgb(59, 116, 59);
  background-color: rgb(46, 99, 46);
  cursor: pointer;
}

button#register:active {
  transform: translateY(0.5px);
}

a {
  font-size: 8px;
  color: rgb(107, 107, 107);
  margin: 7px 0 0
}

div#existing-user {
  display: flex;
  justify-content: flex-end;
  width: 285px;
  position: absolute;
  top: 360px;
  left: 0;
  right: 0;
  margin: auto;
}

p a {
  display: flex;
  color: rgb(255, 255, 255);
  margin: 7px 5px 0 0;
  text-shadow: rgba(20, 20, 20, 0.5) 0px 0px 5px;
}